body {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
  align-items: center;
  color: #231f20;
  display: flex;
  font-family: 'oxygen mono', sans-serif;
  font-size: 23pt;
  justify-content: center;
}

#codename {
  cursor: pointer;
  max-width:600px;
  padding:20px 0;
  text-align: center;
  width:100%;
}
